<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 12">
<link id=Main-File rel=Main-File href="../Think%20You%20Want%20a%20Tower.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Think You Want a Tower?</title>
<meta name=Description content="2/23/2017: The 2nd one is sent up">
<link rel=Stylesheet href="master58_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="31"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:#00182F;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#003366,#ffffff,#10104c,#c6ccd4,#33ccff,#5b5b8d,#4529ab,#00cc99"
 masterhref="master58.xml">
 <p:shaperange href="master58.xml#_x0000_s1025"/><![if !vml]><img
 src="master58_background.gif" v:shapes="_x0000_s1025" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1030"/><v:shape id="_x0000_s31746" type="#_x0000_m1030"
  style='position:absolute;left:36pt;top:18pt;width:9in;height:90pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQBa4xFm/gAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRTU/EIBCG
7yb+BzJX01I9GGNK92D1qEbXHzCBaUu2BcJg3f330v24GNfEI8y8z/sE6tV2GsVMka13Cq7LCgQ5
7Y11vYKP9VNxB4ITOoOjd6RgRwyr5vKiXu8CschpxwqGlMK9lKwHmpBLH8jlSefjhCkfYy8D6g32
JG+q6lZq7xK5VKSFAU3dUoefYxKP23x9MIk0MoiHw+LSpQBDGK3GlE3l7MyPluLYUObkfocHG/gq
a4D8tWGZnC845l7y00RrSLxiTM84ZQ1pIkvjv1ykufwbslhOXPius5rKNnKbY280n6zO0XnAQBn9
X/z7kjvB5f6Hmm8AAAD//wMAUEsDBBQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAX3JlbHMvLnJl
bHOkkMFqwzAMhu+DvYPRvXHaQxmjTm+FXksHuwpbSUxjy1gmbd++pjBYRm876hf6PvHv9rcwqZmy
eI4G1k0LiqJl5+Ng4Ot8WH2AkoLR4cSRDNxJYN+9v+1ONGGpRzL6JKpSohgYS0mfWosdKaA0nCjW
Tc85YKljHnRCe8GB9KZttzr/ZkC3YKqjM5CPbgPqfE/V/IcdvM0s3JfGctDc996+omrH13iiuVIw
D1QMuCzPMNPc1OdAv/au/+mVERN9V/5C/Eyr9cesFzV2DwAAAP//AwBQSwMEFAAGAAgAAAAhABCr
qg02AwAAlQoAABAAAABkcnMvc2hhcGV4bWwueG1s7Fbdb9s2EH8fsP+B4OuQOnHdpjEiF02AbAOM
wIhc7NE4SZStmiI1knLs/PX9HSl7SR6GYcWGPlQP9J3ueB+/+5CvP+5bLXbK+caaTF68OZdCmdJW
jVln8vPy7uyDFD6QqUhbozJ5UF5+nP3803U39Z3AZeOnXSY3IXTT0ciXG9WSf2M7ZSCrrWspgHXr
UeeUVyZQgKNWj8bn5+9HLTVGzmDK7PJu4Zgq73cLJ5oqk2MpDLVwuWyCVuJCjgZ5UiX4n9ty64cg
6J8EUTl6RGYv/Atjf3VIIToYxQiOwRjEwk67jQiHDqEEDkUivH0mJ+OrydX7y/HVO44MF5N2JI4G
PLKKYYf9ja0Os2uaFvhFhgm5fx80ShaQsXVPUjw6Qvz+z54cgtO/G5/Jq4vJBLUMkZm8uxyDcc8l
xXOJ6dtbqxkDQaaE1UyWwR2Z2wAe90vbdhTmJu9KVuVsOufDcv8HuU4wCYTUPtzbfEOdigq0m/vA
+DzXjWwCgo1oH/JwQI2/ERS4gZdvtRKNoEItuXlMG8RDJPQOEAGHxlTo5EiSXmNsIlaVqpdU5E8D
9ox3SPqK5ubGbSO8tTXhU7xUkOdqYSDMIMaVDZk1GnTRmxIOEsaaAeeofFcuyiB2xJU65yd2HgB8
pnGj6te6RzXc/0v6qQ5/ozdIi/5Wu+U+Alv0+dOJvEMaJ+YemyGqBCpStWkKNB5i73PheYpomg4g
u+3bprVfmgQqMs6kMmefc2waoIe+BRBFQjqefSYNXPAics0WY2hsHikptsoBf+iXPAKDFrcnXhne
Prp5Ur9FlvHWDe+wKFs4a+tIV40Lh0j5NtxqRdEiR6wNn8beNVqnHk5vvNVNxS8jgrzzFHBKhQn7
8VCVF1qqrlUZgA5fsX1QLt9Uj6LQvXugKpNvP6CiUlQND9GJwdyNL1OlRWq1oONYebcuTi6jwrHI
J9txyF647edmqFnPwQ907MC432oqgc4v7ZczHTgHmip6JVCUBKV/JSj9kLVLxQ4zsVoJwXOPlHF+
Xy3wNk4PWuRHG/zHbbBafa898GMN/E9rYMWrYIUHx4tm4G8DlkM3Pf49Aum72VcAAAD//wMAUEsD
BBQABgAIAAAAIQCk5XGd1wAAAPkAAAAPAAAAZHJzL2Rvd25yZXYueG1sRI9NT8MwEETvSPwHa5G4
oNah4iMKdSuEqIBjCyrits1uY0NsB9ttkn+PxQGOoxm90ZsvB9uKI4dovFNwOS1AsKs9GdcoeHtd
TUoQMaEjbL1jBSNHWC5OT+ZYke/dmo+b1IgMcbFCBTqlrpIy1potxqnv2OVu74PFlGNoJAXsM9y2
clYUN9KicflBY8cPmuuvzcEquL5qvg9mV1J/+zl+lO/yon3UrNT52XB/ByLxkP7HW1p1L/RX/qKe
ScEMxP5p3AVDa4yJg4Lslk2zJcjFDwAAAP//AwBQSwECLQAUAAYACAAAACEAWuMRZv4AAADiAQAA
EwAAAAAAAAAAAAAAAAAAAAAAW0NvbnRlbnRfVHlwZXNdLnhtbFBLAQItABQABgAIAAAAIQAx3V9h
0gAAAI8BAAALAAAAAAAAAAAAAAAAAC8BAABfcmVscy8ucmVsc1BLAQItABQABgAIAAAAIQAQq6oN
NgMAAJUKAAAQAAAAAAAAAAAAAAAAACoCAABkcnMvc2hhcGV4bWwueG1sUEsBAi0AFAAGAAgAAAAh
AKTlcZ3XAAAA+QAAAA8AAAAAAAAAAAAAAAAAjgUAAGRycy9kb3ducmV2LnhtbFBLBQYAAAAABAAE
APUAAACSBgAAAAA=
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:t' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape>
 <div v:shape="_x0000_s31746" class=T style='mso-char-wrap:1;mso-kinsoku-overflow:
 1;position:absolute;top:7.25%;left:5.99%;width:88.2%;height:9.25%'><span
 style='text-shadow:auto'>The 2</span><span style='font-size:66%;text-shadow:
 auto;position:relative;top:-.45em;mso-text-raise:30%'>nd</span><span
 style='text-shadow:auto'><span style='mso-spacerun:yes'> </span>one is sent up</span></div>
 <p:shaperange href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s31747"
  type="#_x0000_m1031" alt="CIMG3034.jpg" style='position:absolute;left:62.25pt;
  top:126pt;width:265.5pt;height:354pt;visibility:visible;mso-wrap-style:square'
  o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f"
  stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0030_image114.jpg" o:title="CIMG3034"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="t" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape><![if !vml]><img
 border=0 v:shapes="Content_x0020_Placeholder_x0020_6"
 src="slide0030_image115.gif" alt=CIMG3034.jpg style='position:absolute;
 top:23.25%;left:8.61%;width:36.89%;height:65.5%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s31748" type="#_x0000_m1031"
  alt="CIMG3036.jpg" style='position:absolute;left:345pt;top:183.75pt;width:339pt;
  height:254.25pt;visibility:visible;mso-wrap-style:square' o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0030_image116.jpg" o:title="CIMG3036"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="t" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape><![if !vml]><img
 border=0 v:shapes="Content_x0020_Placeholder_x0020_9"
 src="slide0030_image117.gif" alt=CIMG3036.jpg style='position:absolute;
 top:34.0%;left:47.94%;width:47.0%;height:47.0%'><![endif]></p:slide></div>

</body>

</html>
