<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 12">
<link id=Main-File rel=Main-File href="../Think%20You%20Want%20a%20Tower.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Think You Want a Tower?</title>
<meta name=Description
content="2/23/2017: Our many, many thanks to everyone who so unselfishly contributed time, parts, information and encouragement to make this project a reality!">
<link rel=Stylesheet href="master58_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="38"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:#00182F;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#003366,#ffffff,#10104c,#c6ccd4,#33ccff,#5b5b8d,#4529ab,#00cc99"
 masterhref="master58.xml">
 <p:shaperange href="master58.xml#_x0000_s1025"/><![if !vml]><img
 src="master58_background.gif" v:shapes="_x0000_s1025" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1030"/><v:shape id="_x0000_s38914" type="#_x0000_m1030"
  style='position:absolute;left:36pt;top:18pt;width:9in;height:276pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQBa4xFm/gAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRTU/EIBCG
7yb+BzJX01I9GGNK92D1qEbXHzCBaUu2BcJg3f330v24GNfEI8y8z/sE6tV2GsVMka13Cq7LCgQ5
7Y11vYKP9VNxB4ITOoOjd6RgRwyr5vKiXu8CschpxwqGlMK9lKwHmpBLH8jlSefjhCkfYy8D6g32
JG+q6lZq7xK5VKSFAU3dUoefYxKP23x9MIk0MoiHw+LSpQBDGK3GlE3l7MyPluLYUObkfocHG/gq
a4D8tWGZnC845l7y00RrSLxiTM84ZQ1pIkvjv1ykufwbslhOXPius5rKNnKbY280n6zO0XnAQBn9
X/z7kjvB5f6Hmm8AAAD//wMAUEsDBBQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAX3JlbHMvLnJl
bHOkkMFqwzAMhu+DvYPRvXHaQxmjTm+FXksHuwpbSUxjy1gmbd++pjBYRm876hf6PvHv9rcwqZmy
eI4G1k0LiqJl5+Ng4Ot8WH2AkoLR4cSRDNxJYN+9v+1ONGGpRzL6JKpSohgYS0mfWosdKaA0nCjW
Tc85YKljHnRCe8GB9KZttzr/ZkC3YKqjM5CPbgPqfE/V/IcdvM0s3JfGctDc996+omrH13iiuVIw
D1QMuCzPMNPc1OdAv/au/+mVERN9V/5C/Eyr9cesFzV2DwAAAP//AwBQSwMEFAAGAAgAAAAhAHw8
eflhAwAAowcAABAAAABkcnMvc2hhcGV4bWwueG1spFRNb9s4EL0vsP+B4HWR2nHzZSFy0QRIu4AR
GJGLPRaURNmqKZIlKcfOr983pOw4OSwWrWDQQ84bzswbztx+2nWKbaXzrdE5P/8w5kzqytStXuX8
2/Lh7IYzH4SuhTJa5nwvPf80+/OPW5t5y2CsfWZzvg7BZqORr9ayE/6DsVJD1xjXiYCtW42sk17q
IAIcdWo0GY+vRp1oNZ/hKr0t7MKRVD1uF461dc4nnGnRweWyDUqycz4a9Akq4H9uqo0fghD/J4ja
iWdk9sY/0+aLQwrRwShGcAhGIxZyatcs7C1CCRQKR3i7nF9MphfTq+vJ9JIig2FCR+FwgY9ZiWzX
uO5345zdisw0DSPXl9fgj7M9WJrcXEFEBCKTu8AqqG8mkykdsgqAj5fjSwJTjCmQGGyKzGZhd2fq
PVmX+Af1qaS/zibeUkApjHvh7NkJEOt/9sKBNfW39jmfnl9cILQQNzERztyppjzV6L67N4qKw4Su
cGvOq+AOm/uAPeVpOivCXBe2IihlY50Py90/wllGIkoHdh5NsRZWRoDYzn1IpLxiI0eJCLpE+VCE
PR7fb5ISq3Poll+mNqaFCnXCzWPaEJ6ioLagCDy0ukaLRVGoFfo5clXLZinK4mXgHjgXEl6Kub5z
m0hvY3T4HI1K4ala6FQ9qGGyFnqFzln0uoKDxLEiwikqb6tFFdhWUKXG9A3P7RRxJ5v32AMM9q/a
z034D9ygLft75Za7SGzZFy9H8QFpHDePGFkREkSZqi0ysPG0cEPhqb1FlhYwu+m7tjM/2kQqMs65
1GffCoxAsId3CyLKxHRc+5xruKAJ6doN5oM2RZQ420gH/oGvqAUGFD1PHGkai6p9kV/jlvhWLQ3X
qFs4Y5oo160L6GCc+i7cKynijRSx0rRq89AqlVJJJ96otqbDyCANYwmeUmHCbjJU5Q1KNo2sAtgh
E9MH6Yp1/cxK1bsnUWN+3KCinNUtNdFxg76bXKdKs/TUgopt5d2qPLqMgEORj3fHJnvjtp/roWY9
BT/I8QXGwduICuz81f04U4FywKgT7xRSJEXl3ykqP2TtUrHDjH3/jh+WtJIYT+J2kAlx3Cc1aeKX
zJI23XGiODV6vTWZHGEHEKORDOKx4g1itVhfZzJEb2f/AgAA//8DAFBLAwQUAAYACAAAACEAbsgX
KtcAAAD5AAAADwAAAGRycy9kb3ducmV2LnhtbESPy27CMBRE95X6D9at1E0FTlFLoxSDKtTXFhoJ
sbvEl9g0toNtSPL3tViU5WhGZ3Rmi9407Ew+aGcFPI4zYGQrJ7WtBZQ/H6McWIhoJTbOkoCBAizm
tzczLKTr7IrO61izBLGhQAEqxrbgPFSKDIaxa8mmbu+8wZiir7n02CW4afgky6bcoLbpQWFLS0XV
7/pkBDw/1ceT3uWyezkM23zDH5p3RULc3/Vvr8Ai9fE6PpTD57b8Ly+obylgAmz/Ney8lisMkbyA
5JZMkyXw+R8AAAD//wMAUEsBAi0AFAAGAAgAAAAhAFrjEWb+AAAA4gEAABMAAAAAAAAAAAAAAAAA
AAAAAFtDb250ZW50X1R5cGVzXS54bWxQSwECLQAUAAYACAAAACEAMd1fYdIAAACPAQAACwAAAAAA
AAAAAAAAAAAvAQAAX3JlbHMvLnJlbHNQSwECLQAUAAYACAAAACEAfDx5+WEDAACjBwAAEAAAAAAA
AAAAAAAAAAAqAgAAZHJzL3NoYXBleG1sLnhtbFBLAQItABQABgAIAAAAIQBuyBcq1wAAAPkAAAAP
AAAAAAAAAAAAAAAAALkFAABkcnMvZG93bnJldi54bWxQSwUGAAAAAAQABAD1AAAAvQYAAAAA
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:t' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape>
 <div v:shape="_x0000_s38914" class=T style='mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:5.0%;left:5.99%;width:88.2%;height:9.25%'><span
 style='text-shadow:auto'>Our many, many thanks to </span></span><span
 style='position:absolute;top:14.75%;left:4.11%;width:91.94%;height:9.25%'><span
 style='text-shadow:auto'>everyone who so unselfishly </span></span><span
 style='position:absolute;top:24.5%;left:5.99%;width:88.2%;height:9.25%'><span
 style='text-shadow:auto'>contributed time, parts, </span></span><span
 style='position:absolute;top:34.25%;left:-1.87%;width:103.74%;height:9.25%'><span
 style='text-shadow:auto'>information and encouragement </span></span><span
 style='position:absolute;top:44.0%;left:3.37%;width:93.63%;height:9.25%'><span
 style='text-shadow:auto'>to make this project a reality!</span></span></div>
 <p:shaperange href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s38915"
  type="#_x0000_m1031" alt="IMG_1139.jpg" style='position:absolute;left:255pt;
  top:294pt;width:171pt;height:228pt;visibility:visible;mso-wrap-style:square'
  o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f"
  stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0037_image138.jpg" o:title="IMG_1139"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="t" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape><![if !vml]><img
 border=0 v:shapes="Content_x0020_Placeholder_x0020_4"
 src="slide0037_image139.gif" alt="IMG_1139.jpg" style='position:absolute;
 top:54.5%;left:35.39%;width:23.78%;height:42.25%'><![endif]></p:slide></div>

</body>

</html>
