<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 12">
<link id=Main-File rel=Main-File href="../Think%20You%20Want%20a%20Tower.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Think You Want a Tower?</title>
<meta name=Description content="2/23/2017: Tim wrangles it into position">
<link rel=Stylesheet href="master58_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="30"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:#00182F;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#003366,#ffffff,#10104c,#c6ccd4,#33ccff,#5b5b8d,#4529ab,#00cc99"
 masterhref="master58.xml">
 <p:shaperange href="master58.xml#_x0000_s1025"/><![if !vml]><img
 src="master58_background.gif" v:shapes="_x0000_s1025" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1030"/><v:shape id="_x0000_s30722" type="#_x0000_m1030"
  style='position:absolute;left:36pt;top:18pt;width:9in;height:90pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQBa4xFm/gAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRTU/EIBCG
7yb+BzJX01I9GGNK92D1qEbXHzCBaUu2BcJg3f330v24GNfEI8y8z/sE6tV2GsVMka13Cq7LCgQ5
7Y11vYKP9VNxB4ITOoOjd6RgRwyr5vKiXu8CschpxwqGlMK9lKwHmpBLH8jlSefjhCkfYy8D6g32
JG+q6lZq7xK5VKSFAU3dUoefYxKP23x9MIk0MoiHw+LSpQBDGK3GlE3l7MyPluLYUObkfocHG/gq
a4D8tWGZnC845l7y00RrSLxiTM84ZQ1pIkvjv1ykufwbslhOXPius5rKNnKbY280n6zO0XnAQBn9
X/z7kjvB5f6Hmm8AAAD//wMAUEsDBBQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAX3JlbHMvLnJl
bHOkkMFqwzAMhu+DvYPRvXHaQxmjTm+FXksHuwpbSUxjy1gmbd++pjBYRm876hf6PvHv9rcwqZmy
eI4G1k0LiqJl5+Ng4Ot8WH2AkoLR4cSRDNxJYN+9v+1ONGGpRzL6JKpSohgYS0mfWosdKaA0nCjW
Tc85YKljHnRCe8GB9KZttzr/ZkC3YKqjM5CPbgPqfE/V/IcdvM0s3JfGctDc996+omrH13iiuVIw
D1QMuCzPMNPc1OdAv/au/+mVERN9V/5C/Eyr9cesFzV2DwAAAP//AwBQSwMEFAAGAAgAAAAhADiS
xLUQAwAAnAYAABAAAABkcnMvc2hhcGV4bWwueG1spFRLb9swDL4P2H8QdB3atFn6CuoMbYFuA4Ii
qFPsONC2nHiRJU2i06S/fqTkZGkPw7AZgUKKFB8fH9efNq0Wa+VDY00mT49PpFCmtFVjFpl8mt8f
XUoREEwF2hqVya0K8tPk/btrNw5O0GMTxi6TS0Q3HgxCuVQthGPrlCFZbX0LSKxfDJxXQRkEJEet
HgxPTs4HLTRGTsiUWedu5pkqH9YzL5oqk0MpDLTkct6gVuJUDnp5UgXyP7XlKvRBwN8EUXl4psxe
+RfGfvaUQnQwiBHsgjEUCzt1S4FbR6EghyIpvE0mR8Or0dX5xfDqjCOjh0k7EjsDgbKKYePm1lbb
yTWMC/qnDBNy/x40lQwpY+tfpHj2QPGHnx14Ck5/NSGTV6ejEdUSIzM6uxgS4w8lxaHEdO2d1YyB
AFOS1UyW6HfMHRJP70vbOsCpyV3JqpyN8wHnm2/gnWCSEFIbfLD5EpyKCrCeBmR8DnUjm4BgIzpg
jluq8X+CQm7Iy/9aiUaoQi34aUybiMdI6DVBRDg0pqJOjiToBY1NxKpS9RyK/KXHnvHGpK9gam79
KsJbW4M38VEBgatFA2F6MT1ZgllQg846U5KDhLFmwDmq4MpZiWINXKkT/mLnEYAHGreqfqu7U6P3
v6U3Nf5Br5cW3Z32800Etujylz15T2nsmQfaDFEFoUjVhjGh8Rh7nwvPUwTjdBCyq65tWvujSaBS
xplU5ugpp01D6FHfEhBFQjqeXSYNueBF5JsVjaGxeaSkWClP+JN+ySPQa3F70pXh7aObF/Ulsoy3
bniHRdnMW1tHumo8biMVWrzTCqJFjlgbPo29b7ROPZxugtVNxZcRQd55inBKhcHNsK/KKy1V16pE
Qoef2A6Vz5fVsyh05x+hyuTHS6qoFFXDQ7RnaO6GF6nSIrUa6jhWwS+KvcuosCvy3nYcslduu6np
a9Zx8D0dOzDutxpKQudD++NII+cAYwVvBAqSoAxvBGXos/ap2DgR37/TL307en/B+4CgoJO6gluE
TjfebUkig5v8AgAA//8DAFBLAwQUAAYACAAAACEAhLx9ytcAAAD5AAAADwAAAGRycy9kb3ducmV2
LnhtbESPTUsDMRRF94L/ITyhm6HNWNQOY9Mi0qI7aRXE3evkdRKdJNMknY9/b+hCl5d7OZezXA+m
YR35oJ0VcDvLgZGtnNS2FvDxvp0WwEJEK7FxlgSMFGC9ur5aYildb3fU7WPNEsSGEgWoGNuS81Ap
MhhmriWbuqPzBmOKvubSY5/gpuHzPH/gBrVNDwpbelZU/ezPRsD9XX0660Mh+8X3+FV88qzZKBJi
cjM8PQKLNMT/cda5bHj7Ky+oVylgDuz4Mh68ljsMkbyA5JZMkyXw1S8AAAD//wMAUEsBAi0AFAAG
AAgAAAAhAFrjEWb+AAAA4gEAABMAAAAAAAAAAAAAAAAAAAAAAFtDb250ZW50X1R5cGVzXS54bWxQ
SwECLQAUAAYACAAAACEAMd1fYdIAAACPAQAACwAAAAAAAAAAAAAAAAAvAQAAX3JlbHMvLnJlbHNQ
SwECLQAUAAYACAAAACEAOJLEtRADAACcBgAAEAAAAAAAAAAAAAAAAAAqAgAAZHJzL3NoYXBleG1s
LnhtbFBLAQItABQABgAIAAAAIQCEvH3K1wAAAPkAAAAPAAAAAAAAAAAAAAAAAGgFAABkcnMvZG93
bnJldi54bWxQSwUGAAAAAAQABAD1AAAAbAYAAAAA
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:t' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape>
 <div v:shape="_x0000_s30722" class=T style='mso-char-wrap:1;mso-kinsoku-overflow:
 1;position:absolute;top:7.25%;left:4.68%;width:90.63%;height:9.25%'><span
 style='text-shadow:auto'>Tim wrangles it into position</span></div>
 <p:shaperange href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s30723"
  type="#_x0000_m1031" alt="CIMG3028.jpg" style='position:absolute;left:62.25pt;
  top:126pt;width:265.5pt;height:354pt;visibility:visible;mso-wrap-style:square'
  o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f"
  stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0029_image110.jpg" o:title="CIMG3028"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="t" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape><![if !vml]><img
 border=0 v:shapes="Content_x0020_Placeholder_x0020_4"
 src="slide0029_image111.gif" alt=CIMG3028.jpg style='position:absolute;
 top:23.25%;left:8.61%;width:36.89%;height:65.5%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s30724" type="#_x0000_m1031"
  alt="CIMG3030.jpg" style='position:absolute;left:392.25pt;top:126pt;width:265.5pt;
  height:354pt;visibility:visible;mso-wrap-style:square' o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0029_image112.jpg" o:title="CIMG3030"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="t" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape><![if !vml]><img
 border=0 v:shapes="Content_x0020_Placeholder_x0020_5"
 src="slide0029_image113.gif" alt=CIMG3030.jpg style='position:absolute;
 top:23.25%;left:54.49%;width:36.89%;height:65.5%'><![endif]></p:slide></div>

</body>

</html>
