<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 12">
<link id=Main-File rel=Main-File href="../Think%20You%20Want%20a%20Tower.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Think You Want a Tower?</title>
<meta name=Description
content="2/23/2017: Don is tying the next section to be lifted and positioning it for lift so that Len can bolt it together.">
<link rel=Stylesheet href="master58_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="16"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:#00182F;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#003366,#ffffff,#10104c,#c6ccd4,#33ccff,#5b5b8d,#4529ab,#00cc99"
 masterhref="master58.xml">
 <p:shaperange href="master58.xml#_x0000_s1025"/><![if !vml]><img
 src="master58_background.gif" v:shapes="_x0000_s1025" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1030"/><v:shape id="_x0000_s16386" type="#_x0000_m1030"
  style='position:absolute;left:36pt;top:18pt;width:9in;height:90pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQBa4xFm/gAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRTU/EIBCG
7yb+BzJX01I9GGNK92D1qEbXHzCBaUu2BcJg3f330v24GNfEI8y8z/sE6tV2GsVMka13Cq7LCgQ5
7Y11vYKP9VNxB4ITOoOjd6RgRwyr5vKiXu8CschpxwqGlMK9lKwHmpBLH8jlSefjhCkfYy8D6g32
JG+q6lZq7xK5VKSFAU3dUoefYxKP23x9MIk0MoiHw+LSpQBDGK3GlE3l7MyPluLYUObkfocHG/gq
a4D8tWGZnC845l7y00RrSLxiTM84ZQ1pIkvjv1ykufwbslhOXPius5rKNnKbY280n6zO0XnAQBn9
X/z7kjvB5f6Hmm8AAAD//wMAUEsDBBQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAX3JlbHMvLnJl
bHOkkMFqwzAMhu+DvYPRvXHaQxmjTm+FXksHuwpbSUxjy1gmbd++pjBYRm876hf6PvHv9rcwqZmy
eI4G1k0LiqJl5+Ng4Ot8WH2AkoLR4cSRDNxJYN+9v+1ONGGpRzL6JKpSohgYS0mfWosdKaA0nCjW
Tc85YKljHnRCe8GB9KZttzr/ZkC3YKqjM5CPbgPqfE/V/IcdvM0s3JfGctDc996+omrH13iiuVIw
D1QMuCzPMNPc1OdAv/au/+mVERN9V/5C/Eyr9cesFzV2DwAAAP//AwBQSwMEFAAGAAgAAAAhAKX1
9Bo4AwAA/QYAABAAAABkcnMvc2hhcGV4bWwueG1spFRtb9s4DP5+wP0HQV8PXdosa9OgztAG6N0B
QRHUHe5jQdty4kWWfJKcpv31eyg5WVschuEWBDIpkiL58OXq877VYqecb6zJ5NmHUymUKW3VmHUm
vzzcnkyl8IFMRdoalcln5eXn+e+/XXUz3wkYGz/rMrkJoZuNRr7cqJb8B9spA1ltXUsBrFuPOqe8
MoECHLV6ND49PR+11Bg5x1Nml3crx1R5t1s50VSZnJx/nE4RjqEWfu9ViSjWWompHA2KyYYQyNKW
Wz9EQz8TTeXoCSm+CUQY+6dDLmfwaRcbeFPXztmnjaLK8zX8jmKEh2ANYuVYuo0Izx2iDE3QSiL8
PeIfX04uzy/Gl58Gw6SNF75n65F1zCbsb2z1PL+iWYEvEEjI/v9cUNIAIKx7keLJEdLy//bkEJz+
2yCby7PJBOCGyEw+XYzBuNeS4rXE9O3C6ggNmRKvZrIMTorELAJ42Je27SgsTd6VrMrZdM6Hh/0/
5DrBJBBS+3Bn8w11KirQbukDA/taN7IJCH5E+5CHZ5T+F0GBG3j51VfiI6hQS24Z0wZxHwm9A0TA
oTEVOj2SpNcYq4hVpeoHKvKXAXvGOyR9RUtz47YR3tqacB2NCvJcLQyMGcQw4a5E3656U8JBwlgz
4ByV78pVGcSOuFKn/IudBwBfadyo+r3uQQ3236XXdfiB3iAt+oV2D/sIbNHnL0fyFmkcmTtsjqgS
qEjVphnQuI+9z4XnKaJZOoDstm+b1n5tEqjIOJPKnHzJsYmA3niCvESRkI5nn0kDF7yoXLPFGBqb
R0qKrXLAH/olj8Cgxe2JK8PbSTcv6q/IMt664R0XZStnbR1p34aFVhTf4Ti14dPY20br1Lnpxlvd
VHwZceNNqIBOKkfYj4davNFSdY29BkzYxPZBuXxTPYlC9+6eqkx+nKKOUlQNj86RwbSNL1J9RWqw
oOMwebcuji6jwqG0x7fjaL1x2y/NUKmegx/o2Hdxq9VUApM/2q8nOnAONFP0TqAoCUr/TlD6IWuX
Shzm4vEx/R8jwUwihu9RGCVRyhL8BsnBIH3/6zIq80IBqjjRVtxjOLvZYc2C9N38GwAAAP//AwBQ
SwMEFAAGAAgAAAAhALD2X7fbAAAA/gAAAA8AAABkcnMvZG93bnJldi54bWxEj8tOwzAQRfdI/IM1
SOyow0NVCJ1WBQJUoiySsGE3jScPNbYj27Tp32OxgOWdOzpXZ7Ga9CAO7HxvDcL1LAHBpraqNy3C
Z/VylYLwgYyiwRpGOLGH1fL8bEGZskdT8KEMrYgQ4zNC6EIYMyl93bEmP7Mjm9g11mkKMbpWKkfH
CNeDvEmSudTUm7jQ0chPHdf78lsj3D++7qtBf03rvFUf2zLkxXudI15eTOsHEIGn8P+8q3Szff4r
f1EbhXA3v03TqNO8nXauVwX5wA4hXqJuVAW5/AEAAP//AwBQSwECLQAUAAYACAAAACEAWuMRZv4A
AADiAQAAEwAAAAAAAAAAAAAAAAAAAAAAW0NvbnRlbnRfVHlwZXNdLnhtbFBLAQItABQABgAIAAAA
IQAx3V9h0gAAAI8BAAALAAAAAAAAAAAAAAAAAC8BAABfcmVscy8ucmVsc1BLAQItABQABgAIAAAA
IQCl9fQaOAMAAP0GAAAQAAAAAAAAAAAAAAAAACoCAABkcnMvc2hhcGV4bWwueG1sUEsBAi0AFAAG
AAgAAAAhALD2X7fbAAAA/gAAAA8AAAAAAAAAAAAAAAAAkAUAAGRycy9kb3ducmV2LnhtbFBLBQYA
AAAABAAEAPUAAACYBgAAAAA=
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="f"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:t' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape>
 <div v:shape="_x0000_s16386" class=T style='mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:6.5%;left:-.37%;width:100.93%;
 height:5.25%'><span style='font-size:55%;text-shadow:auto'>Don is tying the
 next section to be lifted and positioning it </span></span><span
 style='position:absolute;top:12.0%;left:5.99%;width:88.2%;height:5.25%'><span
 style='font-size:55%;text-shadow:auto'>for lift so that Len can bolt it
 together.</span></span></div>
 <p:shaperange href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s16387"
  type="#_x0000_m1031" alt="Don-tower" style='position:absolute;left:42pt;
  top:2in;width:285.125pt;height:354pt;visibility:visible;mso-wrap-style:square'
  o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f"
  stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0015_image040.jpg" o:title="Don-tower"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_7" src="slide0015_image041.gif"
 alt=Don-tower style='position:absolute;top:26.75%;left:5.8%;width:39.51%;
 height:65.5%'><![endif]><p:shaperange href="master58.xml#_x0000_m1031"/><v:shape
  id="_x0000_s16388" type="#_x0000_m1031" alt="Don-tower2" style='position:absolute;
  left:378pt;top:2in;width:265.5pt;height:354pt;visibility:visible;
  mso-wrap-style:square' o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
  filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0015_image042.jpg" o:title="Don-tower2"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_11" src="slide0015_image043.gif"
 alt=Don-tower2 style='position:absolute;top:26.75%;left:52.43%;width:36.89%;
 height:65.5%'><![endif]></p:slide></div>

</body>

</html>
