<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 12">
<link id=Main-File rel=Main-File href="../Think%20You%20Want%20a%20Tower.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Think You Want a Tower?</title>
<meta name=Description content="2/23/2017: Power divider &amp; coax are attached">
<link rel=Stylesheet href="master58_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="33"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:#00182F;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#003366,#ffffff,#10104c,#c6ccd4,#33ccff,#5b5b8d,#4529ab,#00cc99"
 masterhref="master58.xml">
 <p:shaperange href="master58.xml#_x0000_s1025"/><![if !vml]><img
 src="master58_background.gif" v:shapes="_x0000_s1025" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1030"/><v:shape id="_x0000_s33794" type="#_x0000_m1030"
  style='position:absolute;left:36pt;top:18pt;width:9in;height:90pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQBa4xFm/gAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRTU/EIBCG
7yb+BzJX01I9GGNK92D1qEbXHzCBaUu2BcJg3f330v24GNfEI8y8z/sE6tV2GsVMka13Cq7LCgQ5
7Y11vYKP9VNxB4ITOoOjd6RgRwyr5vKiXu8CschpxwqGlMK9lKwHmpBLH8jlSefjhCkfYy8D6g32
JG+q6lZq7xK5VKSFAU3dUoefYxKP23x9MIk0MoiHw+LSpQBDGK3GlE3l7MyPluLYUObkfocHG/gq
a4D8tWGZnC845l7y00RrSLxiTM84ZQ1pIkvjv1ykufwbslhOXPius5rKNnKbY280n6zO0XnAQBn9
X/z7kjvB5f6Hmm8AAAD//wMAUEsDBBQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAX3JlbHMvLnJl
bHOkkMFqwzAMhu+DvYPRvXHaQxmjTm+FXksHuwpbSUxjy1gmbd++pjBYRm876hf6PvHv9rcwqZmy
eI4G1k0LiqJl5+Ng4Ot8WH2AkoLR4cSRDNxJYN+9v+1ONGGpRzL6JKpSohgYS0mfWosdKaA0nCjW
Tc85YKljHnRCe8GB9KZttzr/ZkC3YKqjM5CPbgPqfE/V/IcdvM0s3JfGctDc996+omrH13iiuVIw
D1QMuCzPMNPc1OdAv/au/+mVERN9V/5C/Eyr9cesFzV2DwAAAP//AwBQSwMEFAAGAAgAAAAhAL2Q
zQYSAwAAoAYAABAAAABkcnMvc2hhcGV4bWwueG1spFRLb9swDL4P2H8QdB26tFnWR1CnaAt0GxAU
QZ1ix4K25cSNLGkSnSb99SMlJ2t7GIbVB5kUKT4+Ps4vNq0Wa+VDY00mjz4fSqFMaavGLDJ5P785
OJUiIJgKtDUqk1sV5MXk44dzNw5O0GMTxi6TS0Q3HgxCuVQthM/WKUOy2voWkFi/GDivgjIISI5a
PRgeHh4PWmiMnJAps87dzDNV3q5nXjRVJodSGGjJ5bxBrcSRHPTypArkf2rLVeiDgH8JovLwRJm9
8i+M/eYphehgECPYBWMoFnbqlgK3jkJBDkVSeJtMjoZno7Pjk+HZV46MHibtSOwMBMoqho2bK1tt
J+cwLuhPGSbk/j9oKhlSxtY/S/HkgeIPvzrwFJz+YUImz45GI6olRmb09WRIjH8pKV5KTNdeW80Y
CDAlWc1kiX7HXCPx9L60rQOcmtyVrMrZOB9wvvkJ3gkmCSG1wVubL8GpqADraUDG56VuZBMQbEQH
zHFLNX4nKOSGvLzXSjRCFWrBT2PaRNxFQq8JIsKhMRV1ciRBL2hsIlaVqudQ5M899ow3Jn0FU3Pl
VxHe2hq8jI8KCFwtGgjTi+nJEsyCGnTWmZIcJIw1A85RBVfOShRr4Eod8hc7jwB8oXGl6re6OzV6
/0d6WeNf9Hpp0V1rP99EYIsuf96TN5TGnrmlzRBVEIpUbRgTGnex97nwPEUwTgchu+raprWPTQKV
Ms6kMgf3OW0aQu/LMeUlioR0PLtMGnLBi8g3KxpDY/NISbFSnvAn/ZJHoNfi9qQrw9tHN8/qe2QZ
b93wDouymbe2jnTVeNxGKrR4rRVEixyxNnwae9NonXo43QSrm4ovI4K88xThlAqDm2FflVdaqq5V
iYQOP7EdKp8vqydR6M7fQUVZn1JFpagaHqI9Q3M3PEmVFqnVUMexCn5R7F1GhV2R97bjkL1y201N
X7OOg+/p2IFxv9VQEjqf2scDjZwDjBW8EShIgjK8EZShz9qnYuNEPNAXD/6LPbu7euCdQHDQSZ3B
bUKnG+82JZHBTX4DAAD//wMAUEsDBBQABgAIAAAAIQAt4HwP1wAAAPkAAAAPAAAAZHJzL2Rvd25y
ZXYueG1sRI9NSwMxFEX3gv8hPMGNtBmLH8PY1yKlouCqVSjuXievk+gkGZO0M/PvDS50ebmXcznz
5WBbceIQjXcI19MCBLvaK+MahPe3p0kJIiZyilrvGGHkCMvF+dmcKuV7t+HTNjUiQ1ysCEGn1FVS
xlqzpTj1HbvcHXywlHIMjVSB+gy3rZwVxZ20ZFx+0NTxSnP9tT1ahNub5vto9qXq7z/Hj3Inr9q1
ZsTLi+HxAUTiIf2PV0VQr+u/8hf1ohBmIA7P4z4YtaGYOCBkt2yaLUEufgAAAP//AwBQSwECLQAU
AAYACAAAACEAWuMRZv4AAADiAQAAEwAAAAAAAAAAAAAAAAAAAAAAW0NvbnRlbnRfVHlwZXNdLnht
bFBLAQItABQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAAAAAAAAAAAAAAC8BAABfcmVscy8ucmVs
c1BLAQItABQABgAIAAAAIQC9kM0GEgMAAKAGAAAQAAAAAAAAAAAAAAAAACoCAABkcnMvc2hhcGV4
bWwueG1sUEsBAi0AFAAGAAgAAAAhAC3gfA/XAAAA+QAAAA8AAAAAAAAAAAAAAAAAagUAAGRycy9k
b3ducmV2LnhtbFBLBQYAAAAABAAEAPUAAABuBgAAAAA=
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:t' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape>
 <div v:shape="_x0000_s33794" class=T style='mso-char-wrap:1;mso-kinsoku-overflow:
 1;position:absolute;top:8.0%;left:4.3%;width:91.57%;height:7.75%'><span
 style='font-size:82%;text-shadow:auto'>Power divider &amp; coax are attached</span></div>
 <p:shaperange href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s33795"
  type="#_x0000_m1031" alt="IMG_1163.jpg" style='position:absolute;left:48pt;
  top:120pt;width:318pt;height:238.5pt;visibility:visible;mso-wrap-style:square'
  o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f"
  stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0032_image122.jpg" o:title="IMG_1163"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="t" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape><![if !vml]><img
 border=0 v:shapes="Content_x0020_Placeholder_x0020_12"
 src="slide0032_image123.gif" alt="IMG_1163.jpg" style='position:absolute;
 top:22.25%;left:6.74%;width:44.19%;height:44.25%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s33796" type="#_x0000_m1031"
  alt="CIMG3048.jpg" style='position:absolute;left:392.25pt;top:126pt;width:265.5pt;
  height:354pt;visibility:visible;mso-wrap-style:square' o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0032_image124.jpg" o:title="CIMG3048"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="t" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape><![if !vml]><img
 border=0 v:shapes="Content_x0020_Placeholder_x0020_15"
 src="slide0032_image125.gif" alt=CIMG3048.jpg style='position:absolute;
 top:23.25%;left:54.49%;width:36.89%;height:65.5%'><![endif]><v:shapetype id="_x0000_t202"
  coordsize="21600,21600" o:spt="202" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s33797" type="#_x0000_t202" style='position:absolute;
  left:30pt;top:390pt;width:330pt;height:65.375pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-rotate-with-shape:t;mso-fit-shape-to-text:t'/>
 </v:shape>
 <div v:shape="_x0000_s33797">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='mso-char-wrap:1;mso-kinsoku-overflow:1'><span
 style='position:absolute;top:73.25%;left:5.24%;width:51.12%;height:5.25%'><span
 style='font-size:133%'>All connectors are taped and </span></span><span
 style='position:absolute;top:78.5%;left:5.24%;width:44.0%;height:5.25%'><span
 style='font-size:133%'>sealed against moisture</span></span></div>
 </div>
</p:slide></div>

</body>

</html>
