<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 12">
<link id=Main-File rel=Main-File href="../Think%20You%20Want%20a%20Tower.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Think You Want a Tower?</title>
<meta name=Description content="2/23/2017:  Top section and mast go up.">
<link rel=Stylesheet href="master58_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="22"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:#00182F;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#003366,#ffffff,#10104c,#c6ccd4,#33ccff,#5b5b8d,#4529ab,#00cc99"
 masterhref="master58.xml">
 <p:shaperange href="master58.xml#_x0000_s1025"/><![if !vml]><img
 src="master58_background.gif" v:shapes="_x0000_s1025" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1030"/><v:shape id="_x0000_s22530" type="#_x0000_m1030"
  style='position:absolute;left:36pt;top:18pt;width:9in;height:90pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQBa4xFm/gAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRTU/EIBCG
7yb+BzJX01I9GGNK92D1qEbXHzCBaUu2BcJg3f330v24GNfEI8y8z/sE6tV2GsVMka13Cq7LCgQ5
7Y11vYKP9VNxB4ITOoOjd6RgRwyr5vKiXu8CschpxwqGlMK9lKwHmpBLH8jlSefjhCkfYy8D6g32
JG+q6lZq7xK5VKSFAU3dUoefYxKP23x9MIk0MoiHw+LSpQBDGK3GlE3l7MyPluLYUObkfocHG/gq
a4D8tWGZnC845l7y00RrSLxiTM84ZQ1pIkvjv1ykufwbslhOXPius5rKNnKbY280n6zO0XnAQBn9
X/z7kjvB5f6Hmm8AAAD//wMAUEsDBBQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAX3JlbHMvLnJl
bHOkkMFqwzAMhu+DvYPRvXHaQxmjTm+FXksHuwpbSUxjy1gmbd++pjBYRm876hf6PvHv9rcwqZmy
eI4G1k0LiqJl5+Ng4Ot8WH2AkoLR4cSRDNxJYN+9v+1ONGGpRzL6JKpSohgYS0mfWosdKaA0nCjW
Tc85YKljHnRCe8GB9KZttzr/ZkC3YKqjM5CPbgPqfE/V/IcdvM0s3JfGctDc996+omrH13iiuVIw
D1QMuCzPMNPc1OdAv/au/+mVERN9V/5C/Eyr9cesFzV2DwAAAP//AwBQSwMEFAAGAAgAAAAhAJnk
BGEvAwAAvgYAABAAAABkcnMvc2hhcGV4bWwueG1spFTbbts4EH1fYP+B4OsideI6TWxEDhID2V3A
CIwoRR+LkUTZqilSS1KOk6/vGVJxLg9FsTEMaoYznMuZy8XlvtVip5xvrMnkyadjKZQpbdWYdSa/
3t8cnUvhA5mKtDUqk4/Ky8v5n39cdDPfCTw2ftZlchNCNxuNfLlRLflPtlMGstq6lgJYtx51Tnll
AgU4avVofHz8ZdRSY+Qcpswu71aOqfJ2t3KiqTI5mX4+PUM4hlr4vVMlolhrJcZyNCimN4RAlrbc
+iEa+p1oKkcPSPFNIMLYvx1yOYFPu9jAm7pyzj5sFFWer+F3FCN8DtYgVo6l24jw2CHK0AStANhT
Jv/ryQXlJHLZI5nxdDL9cjaeng5W0lOYe0ndA4KYWthf2+pxfkGzAl/AkWD+/4mhvgGoWPckxYMj
5Og5PESq/zVIbXoymQDpEJnJ6dkYjHstKV5LTN8urI44kSlhNZNlQKKJWQTweF/atqOwNHlXsipn
0zkf7vffyHWCScCl9uHW5hvqVFSg3dIHRvm1bmQTEGxE+5CHR/TBB0GBG3j5qJVoBBVqyS1j2iDu
IqF3gAg4NKZC20eS9BozFrGqVH1PRY4+idgz3iHpK1qaa7eN8NbWhKv4qCDP1cL0mEGMJ9yiaOJV
b0o4SBhrBpyj8l25KoPYEVfqmH+x8wDgK41rVb/XfVbD+xfpVR1+oTdIi36h3f0+Alv0+dOBvEEa
B+YWaySqBCpStWkGNO5i73PheaRolg4gu+3bprU/mgQqMs6kMkdf8zRl43PkJYqEdDz7TBq44K3l
mi1m0tg8UlJslQP+0C95BAYtbk9cGV5VunlS/0SW8dYNL7woWzlr60j7Niy0omiH49SGT2NvGq1T
56Ybb3VT8WXEjdeiAjqpHGEfdxiSfaOl6hpLDpjwE9tjeeSb6kEUund3VGXy8znqKEXV8OgcGEzb
+CzVV6QGCzoOk3fr4uAyKjyX9mA7jtYbt/3SDJXqOfiBjn0XV1xNJTD5q/1xpAP3E80UvRMoSoLS
vxOUfuhAl0oc5kJ8/45//PE30ulO8BIAEjjRCtwXOLvZ82oE6bv5TwAAAP//AwBQSwMEFAAGAAgA
AAAhAJ8kP6DbAAAA/gAAAA8AAABkcnMvZG93bnJldi54bWxEj8tOwzAQRfdI/IM1SOyow5uGTquC
AkU8FknZsJvE0yRKbEe2aZO/x2IByzt3dK7OYjXqXuzZ+dYahPNZAoJNZVVraoTP7dPZHQgfyCjq
rWGEiT2slsdHC0qVPZic90WoRYQYnxJCE8KQSumrhjX5mR3YxG5nnaYQo6ulcnSIcN3LiyS5kZpa
ExcaGvix4aorvjXC/OG52/b6a1xntfp4L0KWv1UZ4unJuL4HEXgM/8+v5dBN5V/5i3pRCFfzy+vb
qLPbTKVrVU4+sEOIl6gbVUEufwAAAP//AwBQSwECLQAUAAYACAAAACEAWuMRZv4AAADiAQAAEwAA
AAAAAAAAAAAAAAAAAAAAW0NvbnRlbnRfVHlwZXNdLnhtbFBLAQItABQABgAIAAAAIQAx3V9h0gAA
AI8BAAALAAAAAAAAAAAAAAAAAC8BAABfcmVscy8ucmVsc1BLAQItABQABgAIAAAAIQCZ5ARhLwMA
AL4GAAAQAAAAAAAAAAAAAAAAACoCAABkcnMvc2hhcGV4bWwueG1sUEsBAi0AFAAGAAgAAAAhAJ8k
P6DbAAAA/gAAAA8AAAAAAAAAAAAAAAAAhwUAAGRycy9kb3ducmV2LnhtbFBLBQYAAAAABAAEAPUA
AACPBgAAAAA=
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="f"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:t' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1" size="quarter"/></v:shape>
 <div v:shape="_x0000_s22530" class=T style='mso-char-wrap:1;mso-kinsoku-overflow:
 1;position:absolute;top:9.0%;left:5.99%;width:88.2%;height:6.0%'><span
 style='font-size:64%;text-shadow:auto'><span
 style='mso-spacerun:yes'> </span>Top section and mast go up.</span></div>
 <p:shaperange href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s22531"
  type="#_x0000_m1031" alt="CIMG2902" style='position:absolute;left:318pt;
  top:108pt;width:128.25pt;height:171pt;visibility:visible;mso-wrap-style:square'
  o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f"
  stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0021_image076.jpg" o:title="CIMG2902"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="quarter"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_9" src="slide0021_image077.gif" alt=CIMG2902
 style='position:absolute;top:20.0%;left:44.19%;width:17.79%;height:31.75%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s22532" type="#_x0000_m1031"
  alt="CIMG2906" style='position:absolute;left:483.75pt;top:186pt;width:236.25pt;
  height:315pt;visibility:visible;mso-wrap-style:square' o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0021_image078.jpg" o:title="CIMG2906"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="quarter"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_12" src="slide0021_image079.gif"
 alt=CIMG2906 style='position:absolute;top:34.5%;left:67.22%;width:32.77%;
 height:58.25%'><![endif]><p:shaperange href="master58.xml#_x0000_m1031"/><v:shape
  id="_x0000_s22533" type="#_x0000_m1031" alt="CIMG2905" style='position:absolute;
  left:264pt;top:324pt;width:162pt;height:3in;visibility:visible;
  mso-wrap-style:square' o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
  filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0021_image080.jpg" o:title="CIMG2905"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="quarter"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_15" src="slide0021_image081.gif"
 alt=CIMG2905 style='position:absolute;top:60.0%;left:36.7%;width:22.47%;
 height:40.0%'><![endif]><p:shaperange href="master58.xml#_x0000_m1031"/><v:shape
  id="_x0000_s22534" type="#_x0000_m1031" alt="CIMG2911" style='position:absolute;
  left:24pt;top:138pt;width:225pt;height:300pt;visibility:visible;
  mso-wrap-style:square' o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
  filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0021_image082.jpg" o:title="CIMG2911"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="quarter"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_17" src="slide0021_image083.gif"
 alt=CIMG2911 style='position:absolute;top:25.5%;left:3.37%;width:31.27%;
 height:55.5%'><![endif]></p:slide></div>

</body>

</html>
