<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 12">
<link id=Main-File rel=Main-File href="../Think%20You%20Want%20a%20Tower.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Think You Want a Tower?</title>
<meta name=Description
content="2/23/2017: The long day finishes with testing and tutoring for plotting antenna headings">
<link rel=Stylesheet href="master58_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="37"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:#00182F;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#003366,#ffffff,#10104c,#c6ccd4,#33ccff,#5b5b8d,#4529ab,#00cc99"
 masterhref="master58.xml">
 <p:shaperange href="master58.xml#_x0000_s1025"/><![if !vml]><img
 src="master58_background.gif" v:shapes="_x0000_s1025" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1030"/><v:shape id="_x0000_s37890" type="#_x0000_m1030"
  style='position:absolute;left:42pt;top:30pt;width:9in;height:90pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQBa4xFm/gAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRTU/EIBCG
7yb+BzJX01I9GGNK92D1qEbXHzCBaUu2BcJg3f330v24GNfEI8y8z/sE6tV2GsVMka13Cq7LCgQ5
7Y11vYKP9VNxB4ITOoOjd6RgRwyr5vKiXu8CschpxwqGlMK9lKwHmpBLH8jlSefjhCkfYy8D6g32
JG+q6lZq7xK5VKSFAU3dUoefYxKP23x9MIk0MoiHw+LSpQBDGK3GlE3l7MyPluLYUObkfocHG/gq
a4D8tWGZnC845l7y00RrSLxiTM84ZQ1pIkvjv1ykufwbslhOXPius5rKNnKbY280n6zO0XnAQBn9
X/z7kjvB5f6Hmm8AAAD//wMAUEsDBBQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAX3JlbHMvLnJl
bHOkkMFqwzAMhu+DvYPRvXHaQxmjTm+FXksHuwpbSUxjy1gmbd++pjBYRm876hf6PvHv9rcwqZmy
eI4G1k0LiqJl5+Ng4Ot8WH2AkoLR4cSRDNxJYN+9v+1ONGGpRzL6JKpSohgYS0mfWosdKaA0nCjW
Tc85YKljHnRCe8GB9KZttzr/ZkC3YKqjM5CPbgPqfE/V/IcdvM0s3JfGctDc996+omrH13iiuVIw
D1QMuCzPMNPc1OdAv/au/+mVERN9V/5C/Eyr9cesFzV2DwAAAP//AwBQSwMEFAAGAAgAAAAhAJSH
C2NUAwAAZQcAABAAAABkcnMvc2hhcGV4bWwueG1spFTbbts4EH1foP9A8HWR2laci4XIRRMguwsY
gRG56GNAUZStmiJZknLsfH0PSTl1gsVi0QIGPaM55Mycudx82neS7IR1rVYFnXwcUyIU13Wr1gX9
sro/u6bEeaZqJrUSBT0IRz/NP/xxY3JnCC4rl5uCbrw3+Wjk+EZ0zH3URijYGm075qHa9chY4YTy
zMNRJ0fZeHw56lir6BxPqV1pljZI/GG3tKStC5pRolgHl6vWS0EmdDTYE5TB/0LzrRuCYP8niNqy
Z2T2xj9R+i+LFKKDUYzgGIxCLMGp2RB/MAjFh1AowtsXdJrNprPLq2x2ESLDxYSOwvEBF7Ni+b6x
3e/GOb9huW4aAtcX5+fTMSp1KOj59WQMERGwXOw94TBfZ9nsMtg5AJPJ9HxAjFIgMdgUmcn9/lbX
h3C7wj+oTyX9dTbRSx6l0PaFkmfLQKz73jML1uQ/yhV0NplOEZqPyvTiKoNiTy3VqUX13Z2WoTiE
KY5XC8q9PSp3HnrIU3eG+YUqDQ/QkI2xzq/2X5k1JIgoHdh50OWGGREBbLdwPhTuFBvVRER4RDpf
+gOa7zdJidU5TssvUxvTQoU6ZhcxbQiPUZA7UAQeWlVjxKLI5BrzHLmqRbNiVfkycB/49gkv2ELd
2m2kt9HKf46XKuZCtTCpajDjyoapNSZn2SsOB4ljGQgPUTnDl9yTHQuVQrOlhgSzp4hb0bzHxr4F
DPd/Wj83/j9wg7Xq76Rd7SOxVV++vIr3SONVecDKihDPqlRtloONx6UdCh/Gm+XpALPbvms7/a1N
pCLjggp19qXECgR76FsQUSWm49kXVMFF2JC23WI/KF1GiZKtsOAfeB5GYECF9sQnFdaibF/E31EN
fMs2LNdoW1qtmyjXrfWYYHx1nb+TgsUXQ8RShVPp+1bKlEr64rRs6/AxMhiWsQBPqTB+n8VFBbpP
UaJpBPdgJ1zRvRe23NTPpJK9fWT1sGAoqdswRHHbBAVzl12lSpPUal7GsXJ2Xb26jIBjkV/fjkP2
xm2/UEPN+hD8IMcOjIu3YRzs/Nl9O5N+WHXsnUGwZODunYG7IWubiu3n5OkJv3RE4aikz/9meQsb
EOHaU9gfoA4nuginwflzq0J0Zv4DAAD//wMAUEsDBBQABgAIAAAAIQD8EePo1gAAAPkAAAAPAAAA
ZHJzL2Rvd25yZXYueG1sRI9NT8MwEETvSPwHa5G4oNah4iMKdStUgeDagIR628bb2BCvg+02yb/H
4gDH0Yze6C3Xo+vEiUK0nhVczwsQxI3XllsF72/PsxJETMgaO8+kYKII69X52RIr7Qfe0qlOrcgQ
jhUqMCn1lZSxMeQwzn1PnLuDDw5TjqGVOuCQ4a6Ti6K4kw4t5weDPW0MNV/10Sm4vWm/j3Zf6uH+
c9qVH/KqezKk1OXF+PgAItGY/sfTJsWh/it/Ua9awQLE4WXaB6u3GBMFBdktm2ZLkKsfAAAA//8D
AFBLAQItABQABgAIAAAAIQBa4xFm/gAAAOIBAAATAAAAAAAAAAAAAAAAAAAAAABbQ29udGVudF9U
eXBlc10ueG1sUEsBAi0AFAAGAAgAAAAhADHdX2HSAAAAjwEAAAsAAAAAAAAAAAAAAAAALwEAAF9y
ZWxzLy5yZWxzUEsBAi0AFAAGAAgAAAAhAJSHC2NUAwAAZQcAABAAAAAAAAAAAAAAAAAAKgIAAGRy
cy9zaGFwZXhtbC54bWxQSwECLQAUAAYACAAAACEA/BHj6NYAAAD5AAAADwAAAAAAAAAAAAAAAACs
BQAAZHJzL2Rvd25yZXYueG1sUEsFBgAAAAAEAAQA9QAAAK8GAAAAAA==
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:t' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape>
 <div v:shape="_x0000_s37890" class=T style='mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:-.25%;left:6.92%;width:88.2%;height:
 9.25%'><span style='text-shadow:auto'>The long day finishes with </span></span><span
 style='position:absolute;top:9.5%;left:1.49%;width:98.87%;height:9.25%'><span
 style='text-shadow:auto'>testing and tutoring for plotting </span></span><span
 style='position:absolute;top:19.25%;left:6.92%;width:88.2%;height:9.25%'><span
 style='text-shadow:auto'>antenna headings</span></span></div>
 <p:shaperange href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s37891"
  type="#_x0000_m1031" alt="IMG_1173.jpg" style='position:absolute;left:150pt;
  top:180pt;width:392pt;height:294pt;visibility:visible;mso-wrap-style:square'
  o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f"
  stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0036_image136.jpg" o:title="IMG_1173"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="t" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape><![if !vml]><img
 border=0 v:shapes="Content_x0020_Placeholder_x0020_4"
 src="slide0036_image137.gif" alt="IMG_1173.jpg" style='position:absolute;
 top:33.25%;left:20.78%;width:54.49%;height:54.5%'><![endif]></p:slide></div>

</body>

</html>
